$flexy-font: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$flexy-grid-wrapper-max-width: 1280px;
$flexy-theme-colors: (
        default: #2196f3,
        error: #dd162d,
        success: #4caf50,
        primary: #2196f3,
        gray: #96a8b2,
        lightgray: #f6f9fc,
        dark: #353535,
);

// todo add to flexy settings
$flexy-divider-color: #ebf1f8;
