{
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "transform-react-jsx",
          {
            "pragma": "h"
          }
        ]
      ]
    }
  }
}